include *.txt
include *.md
include *.cfg
include *.pkl
include *.yml
recursive-include ./src/*

include ./requirements.txt
include VERSION
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]